{% extends 'main.html' %}
{% load i18n %}
{% block content %}

<h1>{% trans 'Analytics' %}</h1>

<h2>{% trans 'Producers' %} <span class="small-text">({{ producers.count }})</span></h2>
<p></p>
{% for producer in producers %}
    <p>{{ producer.user.username }}</p>
{% endfor %}

<h2>{% trans 'Customers' %} <span class="small-text">({{ customers.count }})</span></h2>
{% for customer in customers %}
    <p>{{ customer.user.username }}</p>
{% endfor %}

<h2>{% trans 'Products' %} <span class="small-text">({{ products.count }})</span></h2>
{% for product in products %}
    <p>{{ product.name }}</p>
{% endfor %}

<h2>{% trans 'Requests' %} <span class="small-text">({{ requests.count }})</span></h2>
{% for request in requests %}
    <p>{{ request.user.username }}</p>
{% endfor %}

<h2>{% trans 'Offers' %} <span class="small-text">({{ offers.count }})</span></h2>
{% for offer in offers %}
    <p>{{ offer.user.username }}</p>
{% endfor %}

{% endblock %}
