{% extends 'main.html' %}
{% block content %}
<div class="uk-container">
    <h1>Edit my profile</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="uk-field uk-margin">
                <label class="">{{ field.label }}</label>
                {{field}}
            </div>
        {% endfor %}
        <button type="submit" class="uk-button uk-button-primary">Save Changes</button>
        <input type="button" class="uk-button uk-button-secondary" value="Go Back" onClick="javascript:history.go(-1);">
    </form>
</div>
{% endblock %}
