{% extends 'main.html' %}
{% load i18n %}

{% block content %}

<div class="uk-container">

    <div class="uk-grid uk-margin-top uk-margin-large-bottom uk-flex uk-flex-middle" uk-grid>
        <div class="uk-width-1-2@l uk-width-2-3@m">
            <h1 class="uk-h1">{% trans "Welcome to the PlanningSEEDs Web-app" %}</h1>
            <p> {% trans "Through the PlanningSEEDs Web-app producers and consumers from 5 different countries can without intermediates:" %}</p>
            <ul>
                <li>{% trans "let them know both at national and international level" %}</li>
                <li>{% trans "Interact with consumers in own languages" %}</li>
                <li>{% trans "purchase orders, request for quotes and receive products" %}</li>
            </ul>
            <p>{% trans "If you are a producer or a consumer" %} <a href="{% url 'register' %}">{% trans "register" %}</a> {% trans "to become part of the International PlanningSEED alliance!!" %}</p>
            
            {% if not request.user.is_authenticated %} 
                <a class="uk-button uk-button-primary uk-text-center" href="{% url 'register' %}">{% trans "Create an account" %}</a>        
            {% endif %}
        </div>
        <div class="uk-width-1-2@l uk-width-1-3@m">
            <img src="/media/images/introImage.png" alt="Welcome to Planning Seeds web application" />
        </div>
    </div>
    
</div>

<div class="uk-container uk-margin-large-top">
    <h2 class="">{% trans "Recent Products" %}</h2>

    <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider>
        <div class="uk-slider-items uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s uk-grid products-grid" uk-grid>
            {% for product in products %}
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        {% if product.image %}
                        <div class="uk-text-center">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        </div>
                        {% endif %}
                        <h3><a href="{% url 'product' product.id %}">{{ product.name }}</a></h3>
                        {% for category in product.category.all %}
                            <span class="category-span">#{{category}}</span><br>
                        {% endfor %}
                        <p>{{ product.producer.country.name }}</p>
                        {% if request.user.is_authenticated and request.user.userprofile.owner.id == request.user.userprofile.id %}
                        <a class="uk-link" href="{% url 'update-product' product.id %}">Edit</a>
                        <a class="uk-link" href="{% url 'product' product.id %}">View</a>
                        <a class="uk-link" href="{% url 'delete-product' product.id %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <a class="uk-position-center-left uk-position-small" href uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small" href uk-slidenav-next uk-slider-item="next"></a>

    
    </div>
    <div class="uk-margin-medium-top uk-text-center">
        <a class="uk-button uk-button-primary" href="{% url 'products-list' %}">View all products</a>
    </div>
</div>  
{% endblock %}