{% extends 'main.html' %}
{% load static %}
{% block content %}

{% if page == 'register' %}

<div class="auth">
    <div class="uk-card">
      <div class="auth__header">
        <h1>Sign Up</h1>
      </div>

      <form method="POST" action="{% url 'register' %}" class="uk-form auth__form">
        {% csrf_token %}

        {% for field in form %}
            <div class="form__field uk-field uk-margin">
                <label for="formInput#text">{{field.label}}</label>
                {{field}}
                
                {% if field.help_text %}
                    <small>{{field.help_text}}</small>
                {% endif %}
            </div>
        {% endfor %}
        

        <div class="auth__actions">
          <input class="uk-button uk-button-primary" type="submit" value="Sign Up" />
        </div>
      </form>
      <div class="auth__alternative uk-margin">
        <p>Already have an Account? <spam><a href="{% url 'login' %}">Log In</a></spam></p>        
      </div>
    </div>
  </div>

{% else %}
<div class="auth">

    <div class="card">

      <div class="auth__header">
        <h1>Login</h1>
      </div>

      <form action="{% url 'login' %}" method="POST" class="form auth__form">
        {% csrf_token %}
        <!-- Input:Username -->
        <div class="form__field">
          <label for="formInput#text uk-margin">Username: </label>
          <input class="uk-input" id="formInput#text" type="text" name="username"
            placeholder="Enter your username..." />
        </div>

        <!-- Input:Password -->
        <div class="form__field uk-margin">
          <label for="formInput#password">Password: </label>
          <input class="uk-input" id="formInput#passowrd" type="password" name="password"
            placeholder="••••••••" />
        </div>
        <div class="auth__actions uk-margin">
          <input class="uk-button uk-button-primary" type="submit" value="Log In" />
          <p><a href="{% url 'password_reset' %}"><span>Forgot Password?</span></a></p>
        </div>
      </form>

      <div class="auth__alternative">
        <p>Don’t have an Account? <a href="{% url 'register' %}"><span>Sign Up</span></a></p>
        
      </div>
    </div>
  </div>
{% endif %}

{% endblock content %}