{% load i18n %}
{% for offer in offers %}
    <tr>
        <td>{{offer.created}}</td>
        <td>{{offer.status}}</td>
        <td><a href="{% url 'user-profile' offer.request.user.id %}">{{offer.request.user}}</a></td>
        <td> <a href="{% url 'product' offer.request.product.id %}">{{ offer.request.product.name }}</a></td>
        <td>{{ offer.quantity }}</td>
        <td>{{offer.unit_price}}</td>
        <td>{{ offer.total_price }}</td>
        {% if offer.status == 'Accepted' and not offer.invoice %}
            <td><a href="{% url 'send-invoice' offer.id %}" class="send-invoice">{% trans "Send Invoice" %}</a></td>
        {% endif %}
    </tr>
{% endfor %}