{% extends 'main.html' %}

{% block content %}
<h1>Reset Your Password</h1>
<form method="post">
    {% csrf_token %}

    {% for field in form %}
            <div class="form__field uk-field uk-margin">
                <label for="formInput#text">{{field.label}}</label>
                {{field}}
                
                {% if field.help_text %}
                    <small>{{field.help_text}}</small>
                {% endif %}
            </div>
        {% endfor %}
    <div class="auth__actions">
        <input class="uk-button uk-button-primary" type="submit" value="Send Reset Email" />
      </div>
</form>

{% endblock %}