{% extends 'main.html' %}

{% block content %}

<h1>Privacy Policy</h1>

    <p>CARDET (“us”, “we”, or “our”) operates the <a href="https://planningseeds.eu/">https://planningseeds.eu/</a> website as part of the EU-funded project "Planning Seeds".</p>
    <p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.</p>
    <p><span style="text-decoration: underline;">Effective date:   04/11/2022</span></p>
    <h3>ADDRESSED TO ALL DATA SUBJECTS</h3>
    <ol class="noColoredLinks">
    <li><a class="scroll" href="#about" uk-scroll="">About CARDET</a></li>
    <li><a class="scroll" href="#commitment" uk-scroll="">Our Privacy Commitment</a></li>
    <li><a class="scroll" href="#dataCollect" uk-scroll="">What Data We Collect and Process</a></li>
    <li><a class="scroll" href="#usedata" uk-scroll="">How We Use Data</a></li>
    <li><a class="scroll" href="#usecookies" uk-scroll="">Use of Cookies and Other Digital Technologies</a></li>
    <li><a class="scroll" href="#personalinfo" uk-scroll="">Accessing Your Personal Information and Your Rights</a></li>
    <li><a class="scroll" href="#minors" uk-scroll="">About Minors (Children)</a></li>
    <li><a class="scroll" href="#sharepersonal" uk-scroll="">Sharing Personal Information Outside the European Union</a></li>
    <li><a class="scroll" href="#datasecurity" uk-scroll="">Data Security and Retention</a></li>
    </ol>
    <ol class="big-ol">
    <li id="about">
    <h3>About CARDET</h3>
    <p>The Center for the Advancement of Research &amp; Development in Educational Technology (CARDET) is an independent, non-profit, non-governmental, research and development organization based in Cyprus. We collaborate with local and international organizations, public and private bodies, and across diverse disciplines in designing solutions for local and global challenges. Our aspiration is to be one of the leading research institutes in the Euro-Mediterranean region in the areas of education, sustainable development, social justice and technology-empowered solutions.</p>
    </li>
    <li id="commitment">
    <h3>Our Privacy Commitment</h3>
    <p>CARDET complies with all applicable privacy laws in each European Union (EU) country, including the EU’s General Data Protection Regulation (“GDPR”). We strictly abide by Regulation (EU) 2016/679 and repealing Directive 95/46/EC on the protection of natural persons with regard to the processing of “Personal Data” and on the free movement of such data. This Privacy Policy (hereinafter referred to as the “Privacy Policy”) governs the way we collect and process personal data.</p>
    <p>“Personal Data” is defined by GDPR as any information relating to an identifiable natural person who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person.</p>
    <p>“Sensitive Personal Data” refers to personal data revealing racial or ethnic origin, political opinions, religious or philosophical beliefs, trade union membership, the processing of genetic data, biometric data for the purpose of uniquely identifying a natural person, data concerning health or data concerning a natural person’s sex life or sexual orientation (referred to as “Special Categories of Data” in the EU General Data Protection Regulation).</p>
    <p>By engaging in a CARDET project, study or any other engagement you express your free, specific, informed and unambiguous consent that you agree to the processing of your personal data pursuant to this Privacy Policy and that you have been duly acquainted with, and informed about, the processing of your personal data.</p>
    <ol class="big-ol">
    <li id="dataCollect">
    <h3>What Data We Collect and Process</h3>
    <p>As part of the projects, studies, and other engagements which are part of CARDET’s normal activity, we will process information you share with us. This may include:</p>
    </li>
    <li>
    <p><strong>Directly identifying data</strong>, like your full name, home address or personal email address that by itself, or in combination with other readily available data, could identify you, or another member of your household</p>
    </li>
    <li>
    <p><strong>Demographic data</strong> such as age, gender, marital status, occupation and income range</p>
    </li>
    <li>
    <p><strong>Your behaviors and preferences</strong> to help us better understand behavior, use, and trends “Behavior data” refers to when, why or how you take some action or behave in a certain way and “Preference data” refers to the specific choices you make</p>
    </li>
    <li>
    <p><strong>Any content or material</strong> you choose to submit, upload or share with CARDET, including without limitation, photos, videos and images</p>
    </li>
    <li>
    <p><strong>Certain profile information</strong> stored in your social media platform account, should you agree to participate in research projects through a third party service such as Facebook or Twitter</p>
    </li>
    <li>
    <p><strong>Voluntarily provided or disclosed Sensitive Information.</strong> “Sensitive Personal Data” means personal identifying information that discloses or reveals racial or ethnic origin, political opinions, religious or philosophical beliefs, trade union membership, the processing of genetic data, biometric data for the purpose of uniquely identifying a natural person, data concerning health or data concerning a natural person’s sex life or sexual orientation</p>
    </li>
    <li>
    <p><strong>Your voice / physical appearance</strong> in cases we will be audio/video taping your participation in a focus group discussion, in-person interview or something of a similar nature.</p>
    </li>
    </ol>
    </li>
    <li id="usedata">
    <h3>How We Use Data</h3>
    <p>We use the data we collect for the purpose of fulfilling our contractual obligations as to the execution of a particular project, research study or other engagement. We assure you that we adhere to these principles:</p>
    <ul>
    <li>
    <p>We use tools and methods to make sure that there is no reasonable possibility of identifying you from the reports, apps and any other deliverables that we create. For example, we combine the responses we collect from you with the responses of many others to produce aggregated results from which you cannot be uniquely identified.</p>
    </li>
    <li>
    <p>We may use data about you for quality assurance and research and development purposes such as data analysis, audits, and developing new products and services.</p>
    </li>
    <li>
    <p>We may use your data to contact you by the means you provide us for this purpose. When we contact you – by phone (including mobile phone), email, SMS, or postal mail depending on what data you provide to us – we usually do so to respond to your inquiries, validate or clarify your response or send you information regarding your participation.</p>
    </li>
    <li>
    <p>We may de-identify (anonymize) data about you and use it for historical, academic or longitudinal research. We ensure in such cases that there is no reasonable possibility of re-identifying you from the data used.</p>
    </li>
    </ul>
    </li>
    <li id="usecookies">
    <h3>Use of Cookies and Other Digital Technologies</h3>
    <p>We receive and store certain types of information automatically when you use our websites, applications and digital services:</p>
    <ul>
    <li>
    <p><strong>Web forms</strong>, such as when you type information into a registration form or type a search query into a search box.</p>
    </li>
    <li>
    <p>Technologies like <strong>cookies and web beacons</strong> may be used on some of our website pages. We use these technologies to manage our projects more efficiently, enhance your experience as a participant, to facilitate navigation, to display information more effectively, for security purposes as well as for site administration purposes. Please be aware that you can adjust the settings in your computer’s browser to reject cookies, or delete individual or all cookies on your computer by following the browser help file directions.</p>
    </li>
    <li>
    <p><strong>Web logging</strong>, which enables us to collect the standard information your browser sends to every web site you visit – such as your IP address, browser type and language, and the site you came from – as well as the pages you visit and the links you click while using our sites and digital services.</p>
    </li>
    </ul>
    </li>
    <li id="personalinfo">
    <h3>Accessing Your Personal Information and Your Rights</h3>
    <p>Participation in our projects/studies is always voluntary and you may withdraw at any time. If you withdraw from a project, we may continue processing the data we collected during the time you were a participant. By contacting us at <a href="mailto:privacy@cardet.org" target="_blank" rel="noopener">privacy@cardet.org</a> you may choose to exercise any of your privacy rights listed here:</p>
    <ul>
    <li>
    <p>The right to obtain information about your personal data without undue delay, including the purpose of the processing, what kinds of personal data are being processed and who are the recipients of such data</p>
    </li>
    <li>
    <p>The right to request access to your personal data (including confirmation as to whether or not personal data concerning you are or are not being processed)</p>
    </li>
    <li>
    <p>The right to request data rectification/correction, erasure or restriction of processing if you establish or believe that the collected data is inaccurate</p>
    </li>
    <li>
    <p>The right to request that certain data about you be erased</p>
    </li>
    <li>
    <p>The right to propose other restrictions on the processing of data about you, and</p>
    </li>
    <li>
    <p>The right of data portability (“take back”) for data you have provided</p>
    </li>
    </ul>
    <p>Furthermore, if you believe that CARDET has not complied with the Privacy laws or the terms of this Policy, you have the right to file a complaint with the relevant supervisory authority (click <a href="https://ec.europa.eu/newsroom/article29/item-detail.cfm?item_id=612080" target="_blank" rel="noopener">here</a> for details).</p>
    </li>
    <li id="minors">
    <h3>About Minors (Children)</h3>
    <p>For our projects and research studies, we never knowingly collect data directly from minor children (under age 18). If a specific project is about children, they may participate only after we obtain the explicit consent of a parent or guardian. Once data collection about them has been authorized by a parent or guardian, all of the provisions of this notice apply to data about children of any age (up to the age of 18).</p>
    </li>
    <li id="sharepersonal">
    <h3>Sharing Personal Information Outside the European Union</h3>
    <p>To conduct its business, CARDET Digital may transfer Personal Data to third-party suppliers or partners that operate in other countries outside the EU. Some of these countries have a different data protection regime, which may provide a lower level of protection than is found in Cyprus or the EU. To ensure that a similar level of data protection is implemented in countries outside the EU, CARDET partners and service providers have entered into contractual agreements that include EU Commission-approved Standard Contractual Clauses for such data transfers.</p>
    </li>
    <li id="datasecurity">
    <h3>Data Security and Retention</h3>
    <p>We will retain your data for as long as needed for the purposes described in this Notice and in accordance with applicable law. When you are no longer an active respondent, we will continue to use data about your demographic characteristics, as well as behavior and preference data for historical and statistical research, but we keep this data separate from data that could be used to identify you, and strictly limit access to your identifying data. All data will be permanently de-identified when we no longer need to identify you for audit, legal, fraud prevention or related purposes.</p>
    </li>
    </ol>
    <p><strong><i>This Notice replaces any other statement, whether written or oral, made to you about our practices with respect to CARDET’s collection and use of personal data about you.</i></strong></p>
    <p><strong>Last updated:</strong> 04/11/2022</p>
    <p><style>
        ol.big-ol li{
          font-size: 24px; 
      }
      ol.big-ol p{
          font-size: initial;
      }
    </style></p>
{% endblock %}