{% for product in products %}
<div>
    <div class="uk-card uk-card-default uk-card-body">
        <div class="grid-img">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% endif %}
        </div>
        <h3><a href="{% url 'product' product.id %}">{{ product.name }}</a></h3>
        {% for category in product.category.all %}
            <span class="category-span">#{{category}}</span><br>
        {% endfor %}
        <p>{{ product.producer.country.name }}</p>
        {% if request.user.is_authenticated and request.user.userprofile.owner.id == request.user.userprofile.id %}
        <a class="uk-link" href="{% url 'update-product' product.id %}">Edit</a>
        <a class="uk-link" href="{% url 'product' product.id %}">View</a>
        <a class="uk-link" href="{% url 'delete-product' product.id %}">Delete</a>
        {% endif %}
    </div>
</div>
{% empty %}
<div>
    <h3>No products found</h3>
</div>
{% endfor %}