{% extends 'main.html' %}

{% block content %}
<h1 class="uk-margin-medium">Producers</h1>

<div class="uk-grid-small" id="sticky-div" uk-grid>
    <div class="uk-width-1-4">
        <a class="uk-button uk-button-primary" href="{% url 'userprofiles' %}">Reset Filters</a>
        <div class="uk-card uk-padding-remove-left">
            <div class="uk-card-header uk-padding-remove-left uk-padding-remove-bottom">
                <h3 class="uk-card-title">Countries</h3>
            </div>
            <div class="uk-card-body uk-padding-remove-left uk-padding-remove-top uk-margin-top">
                <form id="country-form">
                    {% for country in countries %}
                        <label style="display: block;" class="uk-margin ">
                            <input type="checkbox" class="country-checkbox uk-checkbox" name="country" value="{{ country.code }}" />
                            {{ country.name }}
                        </label>
                    {% endfor %}
                </form>
                
            </div>
        </div>
    </div>
    <div class="uk-width-3-4">
        <div id="producers-list" class="uk-child-width-1-3@l uk-child-width-1-2@s uk-grid uk-grid-match products-grid" uk-grid>
            {% include 'main/profiles_filter_grid.html' %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

        function applyFilters(){
            let selectedCountries = [];
            $('.country-checkbox:checked').each(function() {
                selectedCountries.push($(this).val());
            });

            // Send AJAX request with filters
            $.ajax({
                url: "{% url 'filter_producers' %}",
                data: {
                    countries: selectedCountries
                },
                traditional: true,  // Ensures arrays are sent correctly
                success: function(response) {
                    $('#producers-list').html(response.html);
                }
            });
        }

        // Trigger filtering
        $(document).on('change', '.category-checkbox, .country-checkbox', applyFilters);
        
    });

</script>

{% endblock %}