{% extends 'main.html' %}
{% load i18n %}
{% block content %}

<div class="uk-card uk-card-default uk-padding uk-width-2xlarge">
    {% if is_owner %}
    <div class="uk-margin-small">
        <a class="link-text" href="{% url 'edit-user' %}"><span uk-icon="icon: pencil; ratio: 0.8"></span> {% trans "Edit profile" %}</a>
    </div>
    {% endif %}
    <div class="uk-grid">
        {% if user.profile_image %}
        <div class="uk-width-1-4">
            <img src="{{ user.profile_image.url }}" alt="{{ user.name }}">
        </div>
        {% endif %}
        <div class="uk-width-3-4 user-details">
            <h3>{{ user.first_name }} {% if user.last_name %}{{ user.last_name }} {% endif %}</h3>
            
            {% if user.company_name %}
            <p>{{ user.company_name }}</p>
            {% endif %}

            {% if user.address %}
            <p>{{ user.address }}</p>
            {% endif %}

            {% if user.country %}
            <p>{{ user.country.name }}</p>
            {% endif %}

            {% if user.phone_number %}
            <p>{{ user.phone_number }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% if is_owner %}
<div class="uk-margin-large-top">
    <a class="uk-button uk-button-primary" href="{% url 'create-product' %}">Add new product</a>
</div>
{% endif %}

{% if products %}
<h2>{% trans "Recent Products" %}</h2>
<div class="uk-position-relative uk-visible-toggle uk-margin-large-bottom" tabindex="-1" uk-slider>
    <div class="uk-slider-items uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s uk-grid products-grid" uk-grid>
        {% for product in products %}
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% endif %}
                    <h3><a href="{% url 'product' product.id %}">{{ product.name }}</a></h3>
                    {% for category in product.category.all %}
                        <span class="category-span">#{{category}}</span><br>
                    {% endfor %}
                    <p>{{ product.producer.country.name }}</p>
                    {% if request.user.is_authenticated and is_owner %}
                    <hr>
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-2">
                            <a class="uk-link" href="{% url 'update-product' product.id %}"><span uk-icon="icon:pencil; ratio:0.8"></span> {% trans "Edit" %}</a>
                        </div>
                        <div class="uk-width-1-2">
                            <a class="uk-link" href="{% url 'delete-product' product.id %}"><span uk-icon="icon:trash; ratio:0.8"></span> {% trans "Delete" %}</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <a class="uk-position-center-left-out uk-position-small" href uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right-out uk-position-small" href uk-slidenav-next uk-slider-item="next"></a>
    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin uk-margin-large-top"></ul>
</div>

{% endif %}

<!-- for producers -->
{% if is_owner and requestsFrom %}
    <h3 class="uk-margin">{% trans "My Requests" %}</h3>
    <!-- <label for="request-status-filter">Filter by status:</label> -->
    <select id="request-status-filter" class="uk-select">
        <option value="">{% trans "All" %}</option>
        <option value="Pending">{% trans "Pending" %}</option>
        <option value="Accepted">{% trans "Accepted" %}</option>
        <option value="Rejected">{% trans "Rejected" %}</option>
        <option value="In-progress">{% trans "In-progress" %}</option>
    </select>

    <div id="requests-table-container" class="uk-margin-medium-bottom">
        <!-- Table content will be inserted here via JavaScript -->
    </div>

    {% if offers %}
    <div class="uk-container uk-margin-medium-bottom">
        <h3>{% trans "My Offers" %}</h3>
        <!-- <label for="offers-status-filter">Filter by status:</label> -->
        <select id="offers-status-filter" class="uk-select">
            <option value="">{% trans "All" %}</option>
            <option value="Accepted">{% trans "Accepted" %}</option>
            <option value="Declined">{% trans "Declined" %}</option>
            <option value="In-progress">{% trans "In-progress" %}</option>
        </select>
        <div>
        
            <table class="uk-table">
                <thead>
                    <tr>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Customer" %}</th>
                        <th>{% trans "Product" %}</th>
                        <th>{% trans "Quantity" %}</th>
                        <th>{% trans "Unit Price" %}</th>
                        <th>{% trans "Total Price" %}</th>
                        <td>{% trans "Action" %}</td>
                    </tr>
                </thead>
                <tbody id="offers-table-container">  
                    {% include 'main/offers_filter_table.html' %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if send_invoices %}
    <h3 class="">{% trans "My Invoices" %}</h3>
    <!-- <label for="invoices-status-filter">Filter by status:</label> -->
    <div class="uk-margin-medium-bottom">
        <div class="uk-container">
            <table class="uk-table">
                <thead>
                    <tr>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Product" %}</th>
                        <th>{% trans "Total Price" %}</th>
                        <th>{% trans "Customer" %}</th>
                        <th>{% trans "File" %}</th>
                    </tr>
                </thead>
                <tbody id="invoices-table-container">  
                    {% for inv in send_invoices %}
                    <tr>
                        <td>{{inv.created}}</td>
                        <td>{{inv.offer.request.product.name}}</td>
                        <td>{{inv.offer.total_price}}</td>
                        <td>{{inv.offer.request.user}}</td>
                        <td><a target="_blank" href="{{inv.invoice_file}}" download>{% trans "Download Invoice" %}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>     
    </div>
    {% endif %}

{% endif %}




<!-- //////////////////////////////////////////////////////////////////////////////////////////////// -->

<!-- for customer -->
{% if is_owner and requestsTo %}
<div class="uk-container uk-margin-large-top">
<h3>{% trans "My Requests" %}</h3>

<!-- <label for="request-customer-status-filter">Filter by status:</label> -->
<select id="request-customer-status-filter" class="uk-select">
    <option value="">{% trans "All" %}</option>
    <option value="Pending">{% trans "Pending" %}</option>
    <option value="Accepted">{% trans "Accepted" %}</option>
    <option value="Rejected">{% trans "Rejected" %}</option>
    <option value="In-progress">{% trans "In-progress" %}</option>
</select>

<table class="uk-table">
    <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Product" %}</th>
            <th>{% trans "Producer" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Notes" %}</th>
            <th>{% trans "Status" %}</th>
            
        </tr>
    </thead>
    <tbody id="customer-requests-table-container">  
        {% include 'main/requests_customer_filter_table.html' %}
    </tbody>
</table>
</div>
{% endif %}

{% if is_owner and received_offers %}
<div class="uk-container uk-margin-large-top">
    <h3>{% trans "Pending Offers" %}</h3>
    <table class="uk-table">
        <thead>
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Producer" %}</th>
                <th>{% trans "Product" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Unit Price" %}</th>
                <th>{% trans "Total Price" %}</th>
                <th>{% trans "Accept" %}</th>
                <th>{% trans "Reject" %}</th>
            </tr>
        </thead>
        <tbody>  
        {% for offer in received_offers %}
            {% if offer.status != 'In-progress' %}
                {{continue}}
            {% else %}
            <tr>
                <td>{{offer.created}}</td>
                <td>{{offer.status}}</td>
                <td><a href="{% url 'user-profile' offer.producer.id %}">{{offer.producer}}</a></td>
                <td> <a href="{% url 'product' offer.request.product.id %}">{{ offer.request.product.name }}</a></td>
                <td>{{ offer.quantity }}</td>
                <td>{{offer.unit_price}}</td>
                <td>{{ offer.total_price }}</td>
                {% if offer.status != 'Accepted' %}
                <td><a href="#" class="accept-offer" data-offer-id="{{offer.id}}" data-status="Accepted">{% trans "Accept" %}</a></td>
                <td><a href="#" class="reject-offer" data-offer-id="{{offer.id}}" data-status="Rejected">{% trans "Reject" %}</a></td>
                {% endif %}
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="uk-container uk-margin-large-top">
    <h3>{% trans "Accepted/Rejected Offers" %}</h3>
    <table class="uk-table">
        <thead>
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Producer" %}</th>
                <th>{% trans "Product" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Unit Price" %}</th>
                <th>{% trans "Total Price" %}</th>                
            </tr>
        </thead>
        <tbody>  
        {% for offer in received_offers %}
            {% if offer.status == 'In-progress' %}
                {{continue}}
            {% else %}
            <tr>
                <td>{{offer.created}}</td>
                <td>{{offer.status}}</td>
                <td><a href="{% url 'user-profile' offer.producer.id %}">{{offer.producer}}</a></td>
                <td><a href="{% url 'product' offer.request.product.id %}">{{ offer.request.product.name }}</a></td>
                <td>{{ offer.quantity }}</td>
                <td>{{offer.unit_price}}</td>
                <td>{{ offer.total_price }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% if received_invoices %}
    <h3 class="uk-margin-large-top">{% trans "My Invoices" %}</h3>
    <table class="uk-table">
        <thead>
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Producer" %}</th>
                <th>{% trans "Product" %}</th>
                <th>{% trans "Invoice" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for inv in received_invoices %}
            <tr>
                <td>{{inv.created}}</td>
                <td><a href="{% url 'user-profile' inv.offer.producer.id %}">{{inv.offer.producer}}</a></td>
                <td> <a href="{% url 'product' inv.offer.request.product.id %}">{{ inv.offer.request.product.name }}</a></td>
                <td><a href="{{ inv.invoice_file }}" target="_blank" download>{% trans "Download" %}</a></td>
            </tr>
            {% endfor %}
        </tbody>    
    </table>
    
    {% endif %}

</div>

{% endif %}
<script>
    $(document).ready(function(){
        // Initial load of all requests
        var currentUser = "{{ request.user }}";  // Logged-in user's ID
        var profileUser = "{{ user }}";  // Profile being viewed

        if (currentUser == profileUser) {
            offersFilters("");
            loadRequests("");
            // invoiceFilters("");
            customerRequests("");

        }
        
        $('.accept-offer, .reject-offer').on('click', function(e){
            e.preventDefault();
            var offerId = $(this).data('offer-id');
            let offer_status = $(this).data('status');

            var url = "{% url 'accept-offer' '00000000-0000-0000-0000-000000000000' %}".replace('00000000-0000-0000-0000-000000000000', offerId);
            $.ajax({
                url: url,
                method: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'answer-status': offer_status
                },
                success: function(response) {
                    location.reload();
                },
                error: function(response) {
                    alert('An error occurred while accepting the offer.');
                }
            });
        });
        // Function to load requests based on the selected status
        function loadRequests(status) {
            var profileId = "{{ user.id }}";  // Ensure this value is properly set
            var url = '{% url "filter-requests" "dummy-id" %}'.replace('dummy-id', profileId);
            $.ajax({
                url: url,
                method: 'GET',
                data: {
                    'status': status
                },
                success: function(response) {
                    // console.log("Response received:", response); // Debugging line
                    $('#requests-table-container').html(response);
                },
                error: function(xhr, status, error) {
                    console.log("Error:", error); // Debugging line
                    alert('An error occurred while filtering the requests.');
                }
            });
        }        

        // Event listener for the dropdown filter
        $('#request-status-filter').change(function() {
            var selectedStatus = $(this).val();
            // console.log("Selected status:", selectedStatus); // Debugging line
            loadRequests(selectedStatus);
        });

        // function invoiceFilters(status){
        //     var url = '{% url "filter-invoices" %}';
        //     $.ajax({
        //         url: url,
        //         method: 'GET',
        //         data: {
        //             'status': status
        //         },
        //         success: function(response) {
        //             // console.log("Response received:", response); // Debugging line
        //             $('#invoices-table-container').html(response.html);
        //         },
        //         error: function(xhr, status, error) {
        //             console.log("Error:", error); // Debugging line
        //             alert('An error occurred while filtering the requests.');
        //         }
        //     });
        // }

        // $('#invoices-status-filter').change(function() {
        //     var selectedStatus = $(this).val();
        //     // console.log("Selected status:", selectedStatus); // Debugging line
        //     invoiceFilters(selectedStatus);
        // });

        function offersFilters(status){
            var url = '{% url "filter-offers" %}';

            console.log(status);
            $.ajax({
                url: url,
                method: 'GET',
                data: {
                    'status': status
                },
                success: function(response) {
                    // console.log("Response received:", response); // Debugging line
                    $('#offers-table-container').html(response.html);
                },
                error: function(xhr, status, error) {
                    // console.log("Error:", error); // Debugging line
                    alert('An error occurred while filtering the requests.');
                }
            });
        }

        $('#offers-status-filter').change(function() {
            var selectedStatus = $(this).val();
            // console.log("Selected status:", selectedStatus); // Debugging line
            offersFilters(selectedStatus);
        });

        function customerRequests(status){
            var url = '{% url "filter-customer-requests" %}';

            console.log(status);
            $.ajax({
                url: url,
                method: 'GET',
                data: {
                    'status': status
                },
                success: function(response) {
                    // console.log("Response received:", response); // Debugging line
                    $('#customer-requests-table-container').html(response.html);
                },
                error: function(xhr, status, error) {
                    // console.log("Error:", error); // Debugging line
                    alert('An error occurred while filtering the requests.');
                }
            });
        }

        $('#request-customer-status-filter').change(function() {
            var selectedStatus = $(this).val();
            // console.log("Selected status:", selectedStatus); // Debugging line
            customerRequests(selectedStatus);
        });

        

    });
</script>
{% endblock %}