{% extends 'main.html' %}

{% block content %}

<div class="uk-card uk-card-default uk-padding">
    {% if is_owner %}
    <div class="uk-margin-small">
        <a class="link-text" href="{% url 'edit-user' %}"><span uk-icon="pencil"></span> Edit profile</a>
    </div>
    {% endif %}
    <div class="uk-grid">
        {% if user.profile_image %}
        <div class="uk-width-1-4">
            <img src="{{ user.profile_image.url }}" alt="{{ user.name }}">
        </div>
        {% endif %}
        <div class="uk-width-3-4">
            <h3>{{ user.first_name }} {% if user.last_name %}{{ user.last_name }} {% endif %}</h3>
            
            {% if user.company_name %}
            <p>{{ user.company_name }}</p>
            {% endif %}

            {% if user.address %}
            <p>{{ user.address }}</p>
            {% endif %}

            {% if user.country %}
            <p>{{ user.country }}</p>
            {% endif %}

            {% if user.phone_number %}
            <p>{{ user.phone_number }}</p>
            {% endif %}
        </div>
    </div>
</div>


{% if products %}
<h2>Recent Products</h2>
<div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider>
    <div class="uk-slider-items uk-child-width-1-3 uk-grid uk-grid-match" uk-height-match uk-grid>
        {% for product in products %}
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% endif %}
                    <h2><a href="{% url 'product' product.id %}">{{ product.name }}</a></h2>
                    {% for category in product.category.all %}
                        <span>{{category}}</span><br>
                    {% endfor %}
                    <p>{{ product.producer.country }}</p>
                    {% if request.user.is_authenticated and request.user.userprofile.owner.id == request.user.userprofile.id %}
                    <a class="uk-link" href="{% url 'update-product' product.id %}">Edit</a>
                    <a class="uk-link" href="{% url 'product' product.id %}">View</a>
                    <a class="uk-link" href="{% url 'delete-product' product.id %}">Delete</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slider-item="next"></a>
</div>

{% endif %}

<!-- for producers -->
{% if is_owner and requestsFrom %}
<h2>My Requests</h2>
<label for="request-status-filter">Filter by status:</label>
<select id="request-status-filter" class="uk-select">
    <option value="">All</option>
    <option value="Pending">Pending</option>
    <option value="Accepted">Accepted</option>
    <option value="Rejected">Rejected</option>
    <option value="In-progress">In-progress</option>
</select>

<div id="requests-table-container">
    <!-- Table content will be inserted here via JavaScript -->
</div>

{% if send_invoices %}
<h2>My Invoices</h2>
<label for="invoices-status-filter">Filter by status:</label>
<select id="invoices-status-filter" class="uk-select">
    <option value="">All</option>
    <option value="Accepted">Accepted</option>
    <option value="Sent">Sent</option>
</select>

<div>
    <div class="uk-container">
        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Product</th>
                    <th>Total Price</th>
                    <th>Customer</th>
                    <th>File</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="invoices-table-container">  
                {% include 'main/invoices_filter_table.html' %}
            </tbody>
        </table>
    </div>     
</div>


{% endif %}

{% endif %}

{% if is_owner and offers %}
<div class="uk-container">
    <h2>My Offers</h2>
    <label for="offers-status-filter">Filter by status:</label>
    <select id="offers-status-filter" class="uk-select">
        <option value="">All</option>
        <option value="Accepted">Accepted</option>
        <option value="Declined">Declined</option>
        <option value="In-progress">In-progress</option>
    </select>
    <div>
    
        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody id="offers-table-container">  
                {% include 'main/offers_filter_table.html' %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}


<!-- //////////////////////////////////////////////////////////////////////////////////////////////// -->

<!-- for customer -->
{% if is_owner and requestsTo %}
<div class="uk-container">
<h2>My Requests</h2>

<label for="request-customer-status-filter">Filter by status:</label>
<select id="request-customer-status-filter" class="uk-select">
    <option value="">All</option>
    <option value="Pending">Pending</option>
    <option value="Accepted">Accepted</option>
    <option value="Rejected">Rejected</option>
    <option value="In-progress">In-progress</option>
</select>

<table class="uk-table uk-table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Product</th>
            <th>Producer</th>
            <th>Quantity</th>
            <th>Notes</th>
            <th>Status</th>
            
        </tr>
    </thead>
    <tbody>  
    {% for request in requestsTo %}
        <tr>
            <td>{{request.created}}</td>
            <td> <a href="{% url 'product' request.product.id %}">{{ request.product.name }}</a></td>
            <td> <a href="{% url 'user-profile' request.product.producer.id %}">{{ request.product.producer }}</a></td>
            <td>{{ request.quantity }}</td>
            <td> {{request.additional_notes}}</td>
            <td>{{ request.status }}</td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}

{% if is_owner and received_offers %}
<div class="uk-container">
<h2>Pending Offers</h2>
<table class="uk-table uk-table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Producer</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total Price</th>
            <th>Accept</th>
            <th>Reject</th>
        </tr>
    </thead>
    <tbody>  
    {% for offer in received_offers %}
        {% if offer.status == 'Accepted' %}

            {{continue}}
        {% else %}
        <tr>
            <td>{{offer.created}}</td>
            <td>{{offer.status}}</td>
            <td><a href="{% url 'user-profile' offer.producer.id %}">{{offer.producer}}</a></td>
            <td> <a href="{% url 'product' offer.request.product.id %}">{{ offer.request.product.name }}</a></td>
            <td>{{ offer.quantity }}</td>
            <td>{{offer.unit_price}}</td>
            <td>{{ offer.total_price }}</td>
            {% if offer.status != 'Accepted' %}
            <td><a href="#" class="accept-offer" data-offer-id="{{offer.id}}">Accept</a></td>
            <td><a href="#" class="reject-offer" data-offer-id="{{offer.id}}">Reject</a></td>
            {% endif %}
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
</div>

<div class="uk-container">
    <h2>Accepted Offers</h2>
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Status</th>
                <th>Producer</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
                
            </tr>
        </thead>
        <tbody>  
        {% for offer in received_offers %}
            {% if offer.status != 'Accepted' %}
    
                {{continue}}
            {% else %}
            <tr>
                <td>{{offer.created}}</td>
                <td>{{offer.status}}</td>
                <td><a href="{% url 'user-profile' offer.producer.id %}">{{offer.producer}}</a></td>
                <td> <a href="{% url 'product' offer.request.product.id %}">{{ offer.request.product.name }}</a></td>
                <td>{{ offer.quantity }}</td>
                <td>{{offer.unit_price}}</td>
                <td>{{ offer.total_price }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% if received_invoices %}
    <h2>Invoices</h2>
    {% for inv in received_invoices %}
        {{inv.created}}
        {{inv.invoice_file}}<br>
    {% endfor %}
    {% endif %}

    </div>
{% endif %}
<script>
    $(document).ready(function(){
        $('.accept-offer').on('click', function(e){
            e.preventDefault();
            var offerId = $(this).data('offer-id');
            // console.log("Offer ID: ", offerId);
            var url = "{% url 'accept-offer' '00000000-0000-0000-0000-000000000000' %}".replace('00000000-0000-0000-0000-000000000000', offerId);
            $.ajax({
                url: url,
                method: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'answer-status': 'Accepted'
                },
                success: function(response) {
                    location.reload();
                },
                error: function(response) {
                    alert('An error occurred while accepting the offer.');
                }
            });
        });
        $('.reject-offer').on('click', function(e){
            e.preventDefault();
            var offerId = $(this).data('offer-id');
            // console.log("Offer ID: ", offerId);
            var url = "{% url 'accept-offer' '00000000-0000-0000-0000-000000000000' %}".replace('00000000-0000-0000-0000-000000000000', offerId);
            $.ajax({
                url: url,
                method: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'answer-status': 'Rejected'
                },
                success: function(response) {
                    location.reload();
                },
                error: function(response) {
                    alert('An error occurred while rejecting the offer.');
                }
            });
        });

        // Function to load requests based on the selected status
        function loadRequests(status) {
            var profileId = "{{ user.id }}";  // Ensure this value is properly set
            var url = '{% url "filter-requests" "dummy-id" %}'.replace('dummy-id', profileId);
            $.ajax({
                url: url,
                method: 'GET',
                data: {
                    'status': status
                },
                success: function(response) {
                    // console.log("Response received:", response); // Debugging line
                    $('#requests-table-container').html(response);
                },
                error: function(xhr, status, error) {
                    console.log("Error:", error); // Debugging line
                    alert('An error occurred while filtering the requests.');
                }
            });
        }

        // Initial load of all requests
        loadRequests('');

        // Event listener for the dropdown filter
        $('#request-status-filter').change(function() {
            var selectedStatus = $(this).val();
            // console.log("Selected status:", selectedStatus); // Debugging line
            loadRequests(selectedStatus);
        });

        function invoiceFilters(status){
            var url = '{% url "filter-invoices" %}';
            $.ajax({
                url: url,
                method: 'GET',
                data: {
                    'status': status
                },
                success: function(response) {
                    // console.log("Response received:", response); // Debugging line
                    $('#invoices-table-container').html(response.html);
                },
                error: function(xhr, status, error) {
                    console.log("Error:", error); // Debugging line
                    alert('An error occurred while filtering the requests.');
                }
            });
        }

        $('#invoices-status-filter').change(function() {
            var selectedStatus = $(this).val();
            // console.log("Selected status:", selectedStatus); // Debugging line
            invoiceFilters(selectedStatus);
        });
        invoiceFilters('');
        function offersFilters(status){
            var url = '{% url "filter-offers" %}';

            console.log(status);
            $.ajax({
                url: url,
                method: 'GET',
                data: {
                    'status': status
                },
                success: function(response) {
                    // console.log("Response received:", response); // Debugging line
                    $('#offers-table-container').html(response.html);
                },
                error: function(xhr, status, error) {
                    // console.log("Error:", error); // Debugging line
                    alert('An error occurred while filtering the requests.');
                }
            });
        }

        $('#offers-status-filter').change(function() {
            var selectedStatus = $(this).val();
            console.log("Selected status:", selectedStatus); // Debugging line
            offersFilters(selectedStatus);
        });

        offersFilters('');
    });
</script>
{% endblock %}