<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planning Seeds Web Application</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.9/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.9/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.9/dist/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" type="text/css" href='{% static "styles/main.css" %}' />
</head>
<body>
    <nav class="uk-navbar-container uk-padding" uk-navbar>
            <div class="uk-navbar-left">
                <h2><a href="/">Logo</a></h2>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav" uk-nav="multiple: true">
                    <li class=""><a href="#">About</a></li>
                    <li class=""><a href="{% url 'products-list' %}">Products</a></li>
                    <li><a href="{% url 'userprofiles' %}">Producers</a></li>
                    {% if request.user.is_authenticated %}
                    <li class="uk-parent"><a href="#">Welcome {{ request.user.userprofile.first_name }} <span uk-nav-parent-icon></span></a>
                        <ul class="uk-nav-sub">
                            <li><a href="{% url 'user-profile' request.user.userprofile.id %}">My profile</a></li>
                            {% if request.user.is_authenticated and request.user.userprofile.user_type == 'producer' %}
                            <li ><a href="{% url 'create-product' %}">Add new product</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <!-- <li><a href="{% url 'user-profile' request.user.userprofile.id %}">My profile</a></li> -->
                    {% else %}
                    <li><a href="{% url 'login' %}">Login/Sign Up</a></li>
                    {% endif %}
                </ul>
                
            </div>
    </nav>
    <div class="uk-container uk-margin-medium-top" uk-height-viewport="expand: true">

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}

        {% endblock content %}
    </div>
    <div class="uk-section uk-section-primary footer uk-margin-medium-top">

    </div>
</body>
</html>